body {
  font-family: "Inter", sans-serif;
}
/*Nav bar*/
.header-brand {
  font-weight: 900;
  font-size: 28px;
}
.header-link {
  font-weight: 700;
  font-size: 16px;
}

/*HOME page */
/*Carousel */
.carousel-item {
  max-height: 450px;
}
.carousel-item img {
  max-height: 450px;
  object-fit: cover;
}

/*About Us container */
.about-header {
  font-weight: 700;
  margin-top: 10px;
  font-size: 35px;
}
.about-text {
  text-align: left;
}
.about-header,
.about-text,
.progress-text,
.progress {
  margin-left: 16px;
}
.progress-color {
  background-color: #2a6348;
}
.progress-text {
  margin-top: 15px;
  font-weight: 700;
}
.progress-pers {
  float: right;
  margin-right: 25px;
}
hr {
  width: 50%;
  border-top: 4px solid black;
  margin-left: 16px;
  border-radius: 2px;
}
/*Industries served container */
.industries {
  background-color: rgba(234, 234, 234, 0.175);
  padding-top: 30px;
  padding-bottom: 40px;
}
.industries-header,
.industries-text {
  text-align: center;
}
.industries hr {
  margin: 5px auto;
}
.industries-header {
  font-weight: 700;
  margin-top: 10px;
  font-size: 35px;
}
.industries-text {
  margin-top: 12px;
}

.grid-container {
  background-color: rgba(155, 153, 153, 0.6);
  border-radius: 30px;
  padding: 80px;
  width: 80%;
  margin: 40px auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
.grid-item:hover {
  background-color: rgb(255, 255, 255);
}
/*Main info container*/
.main-info-cont {
  background-color: rgba(234, 234, 234, 0.359);
  padding-top: 50px;
  padding-bottom: 30px;
}
.main-info-text {
  text-align: center;
}
.main-info-text h4 {
  font-weight: bold;
}
.main-info-img {
  margin-left: 100px;
  margin-top: 20px;
}

/*Footer*/
.footer-container {
  margin: 30px 0px 30px 40px;
}

/*Products page*/
.products-header {
  margin: 60px 0px 40px;
  text-align: center;
}
.products-header h1 {
  font-weight: 700;
}
.product-img img {
  min-width: 290px;
}
.products-list {
  background-color: rgba(234, 234, 234, 0.359);
  padding-left: 10%;
}

/*Contact page*/
.form-container {
  margin-top: 80px;
  padding: 40px 6% 10% 8%;
}
.form-text {
  padding-right: 3%;
}
.form-text h1,
strong {
  font-weight: 700;
  color: black;
}
.form-text hr {
  width: 80%;
  margin-left: 0;
}
.form-text p {
  color: black;
  font-size: 1rem;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
textarea.form-control {
  height: auto;
}
input:not([type="checkbox"]):not([type="radio"]),
select {
  line-height: 18px;
  padding: 10px 16px;
  min-height: 40px;
  font-size: 0.9rem;
}
#submit-btn {
  background-color: #2a6348;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 15px 20px;
  transition: 200ms ease-in-out;
}
#submit-btn:hover {
  background-color: #214d39;
}
.form-container label {
  margin-top: 20px;
  margin-bottom: 14px;
  font-weight: 700;
}
