body {
  font-family: "Inter", sans-serif;
}

.header-brand {
  font-weight: 900;
  font-size: 28px;
}
.header-link {
  font-weight: 700;
  font-size: 16px;
}
.carousel-item {
  max-height: 450px;
}
.carousel-item img {
  max-height: 450px;
  object-fit: cover;
}
