body {
  font-family: "Inter", sans-serif;
}
/*Nav bar*/
.header-brand {
  font-weight: 900;
  font-size: 28px;
}
.header-link {
  font-weight: 700;
  font-size: 16px;
}

/*HOME page */
/*Carousel */
.carousel-item {
  max-height: 450px;
}
.carousel-item img {
  max-height: 450px;
  object-fit: cover;
}

/*About Us container */
.about-header {
  font-weight: 700;
  margin-top: 10px;
  font-size: 35px;
}
.about-text {
  text-align: left;
}
.about-header,
.about-text,
.progress-text,
.progress {
  margin-left: 16px;
}
.progress-color {
  background-color: #2a6348;
}
.progress-text {
  margin-top: 15px;
  font-weight: 700;
}
.progress-pers {
  float: right;
  margin-right: 25px;
}
hr {
  width: 50%;
  border-top: 4px solid black;
  margin-left: 16px;
  border-radius: 2px;
}
/*Industries served container */
.industries {
  background-color: rgba(234, 234, 234, 0.175);
  padding-top: 30px;
  padding-bottom: 40px;
}
.industries-header,
.industries-text {
  text-align: center;
}
.industries hr {
  margin: 5px auto;
}
.industries-header {
  font-weight: 700;
  margin-top: 10px;
  font-size: 35px;
}
.industries-text {
  margin-top: 12px;
}

.grid-container {
  background-color: rgba(155, 153, 153, 0.6);
  border-radius: 30px;
  padding: 80px;
  width: 80%;
  margin: 40px auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
.grid-item:hover {
  background-color: rgb(255, 255, 255);
}
/*Main info container*/
.main-info-cont {
  background-color: rgba(234, 234, 234, 0.359);
  padding-top: 50px;
  padding-bottom: 30px;
}
.main-info-text {
  text-align: center;
}
.main-info-text h4 {
  font-weight: bold;
}
.main-info-img {
  margin-left: 100px;
  margin-top: 20px;
}

/*Footer*/
.footer-container {
  margin: 30px 0px 30px 40px;
}
